@import './colors';
@import './transitions';

.addTrackDialogToggable, .addTrackDialogToggableOpen {
  position: relative;
  z-index: 2;
  margin-top: -1px;

  &:first-child {
    margin-top: -11px;
  }

  &:last-child {
    margin-bottom: -11px;
  }
}

.addTrackDialogToggler, .addTrackDialogTogglerActive {
  position: relative;
  display: block;
  margin: 0 -10px 0;

  button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 5px 10px;
    text-align: left;
    border-top: 1px solid $gray-light;
    border-bottom: 1px solid $gray-light;
    border-left: 1px solid $gray-lighter;
    border-right: 1px solid $gray-lighter;
    background: $gray-lighter;
    transition: color $normal $ease,
                font-weight $normal $ease,
                border-color $normal $ease,
                background $normal $ease;

    &:focus {
      outline: none;
      border-color: $white;
      box-shadow: 0 0 0 2px $blue-lighter;
    }

    &:disabled {
      color: $gray-medium;
      cursor: not-allowed;
    }
  }
}

.addTrackDialogTogglerActive button {
  color: $white;
  font-weight: bold;
  background: $primary;
  border-color: $primary;
}

.addTrackDialogTogglerTriangle {
  width: 0;
  height: 0;
  border-left: 0.5rem solid transparent;
  border-right: 0.5rem solid transparent;
  border-bottom: 0.5rem solid $gray-dark;
  transition: transform $normal $ease,
              border-bottom-color $normal $ease;
}

.addTrackDialogTogglerActive .addTrackDialogTogglerTriangle {
  border-bottom-color: $white;
  transform: rotate(180deg);
}

.addTrackDialogTogglerValue {
  color: $gray-dark;
  font-style: italic;
  transition: opacity $normal $ease;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.addTrackDialogTogglerActive .addTrackDialogTogglerValue {
  opacity: 0;
}

.addTrackDialogToggableContent {
  display: none;
}

.addTrackDialogToggableContentOpen {
  padding: 5px 0 10px 0;
}

.addTrackDialogSubmit {
  margin-top: 0.5rem;
  width: 100%;
  font-weight: bold;
}
