@import './colors';
@import './transitions';

.add-track-position-table {
  border-collapse: collapse;
  margin: 5px;
  color: $gray-dark;
}

.add-track-position-table-dark {
  color: $gray-light;
}

.add-track-position-other {
  outline: none;
}

.add-track-position-top-center {
  min-width: 80px;
  min-height: 20px;
  text-align: center;
  outline: none;
  border-top: 1px solid $gray;
  border-left: 1px solid $gray;
  border-right: 1px solid $gray;
  border-radius: 2px 2px 0 0;

  &:hover {
    color: $white;
    background-color: $active;
  }
}

.add-track-position-middle-left {
  min-width: 40px;
  text-align: center;
  outline: none;
  border-top: 1px solid $gray;
  border-left: 1px solid $gray;
  border-bottom: 1px solid $gray;
  border-radius: 2px 0 0 2px;
}

.add-track-position-middle-left:hover {
  background-color: $active;
  color: $white;
}

.add-track-position-middle-right {
  min-width: 40px;
  text-align: center;
  outline: none;
  border-top: 1px solid $gray;
  border-right: 1px solid $gray;
  border-bottom: 1px solid $gray;
  border-radius: 0 2px 2px 0;
}

.add-track-position-middle-right:hover {
  background-color: $active;
  color: $white;
}

.add-track-position-middle-middle {
  text-align: center;
  outline: none;
  border: 1px solid $gray;
}

.add-track-position-middle-middle:hover {
  background-color: $active;
  color: $white;
}

.add-track-position-bottom-middle {
  min-height: 20px;
  text-align: center;
  outline: none;
  border-left: 1px solid $gray;
  border-right: 1px solid $gray;
  border-bottom: 1px solid $gray;
  border-radius: 0 0 2px 2px;
}

.add-track-position-bottom-middle:hover {
  background-color: $active;
  color: $white;
}

.add-track-position-span {
  margin: 5px;
}
