@import './colors';
@import './transitions';

.button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 0.5em 0.5em;
  color: $black;
  font-size: 1em;
  line-height: 1em;
  border: 0;
  border-radius: .25rem;
  background: $white;
  box-shadow: 0 0 0 1px $gray-light;
  transition: transform $fast $ease,
              box-shadow $fast $ease,
              background $fast $ease;
  -webkit-appearance: none;
}

.button:hover {
  background: $gray-lightest;
  box-shadow: 0 0 0 1px $gray-light;
}

.button:focus {
  box-shadow: 0 0 0 2px $blue-lighter;
}

.button:active {
  transform: scale(0.9);
}

.button:hover, .button:focus, .button:active {
  cursor: pointer;
  outline: none;
}

.buttonPrimary {
  color: $white;
  background: $blue-light;
  box-shadow: 0 0 0 1px $blue;
}

.buttonPrimary:hover {
  background: $blue;
  box-shadow: 0 0 0 1px $blue;
}

.buttonPrimary:focus {
  box-shadow: 0 0 0 2px $blue-lighter;
}

.buttonPrimary:focus:before {
  content: '';
  position: absolute;
  display: block;
  top: 1px;
  right: 1px;
  bottom: 1px;
  left: 1px;
  box-shadow: 0 0 0 1px $white;
  border-radius: .25rem;
}

.buttonShortcut {
  padding: 0.1em 0.5rem;
  color: $gray-medium;
  font-size: 0.8em;
  transition: color $fast $ease;
}
