$white: #fff;
$black: #000;

$gray-light-rgba: rgba(0, 0, 0, 0.2);
$gray-lighter-rgba: rgba(0, 0, 0, 0.1);
$gray-lightest-rgba: rgba(0, 0, 0, 0.05);

$blue: #0f5d92;
$blue-light: #337ab7;

$primary: $blue;
$active: $blue-light;
