$white: #fff;
$black: #000;

$gray-darkest: #222;
$gray-darker: #444;
$gray-dark: #666;
$gray: #999;
$gray-medium: $gray;
$gray-light: #cccccc;
$gray-lighter: #e5e5e5;
$gray-lightest: #f2f2f2;

$gray-light-rgba: rgba(0, 0, 0, 0.2);
$gray-lighter-rgba: rgba(0, 0, 0, 0.1);
$gray-lightest-rgba: rgba(0, 0, 0, 0.05);

$blue: #0f5d92;
$blue-light: #337ab7;
$blue-lighter: #0089ff;

$primary: $blue;
$active: $blue-light;
