:global(.higlass) .cross {
  position: relative;
  width: 1em;
  height: 1em;
}

:global(.higlass) .cross:before,
:global(.higlass) .cross:after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 1em;
  height: 1px;
  background: black;
  transform-origin: center;
}

:global(.higlass) .cross:before {
  transform: translate(0, -50%) rotate(45deg);
}

:global(.higlass) .cross:after {
  transform: translate(0, -50%) rotate(-45deg);
}
