
.ne-handle {
    border-right: black solid 1px;
    border-top: black solid 1px;
    opacity: 1;
}

.nw-handle {
    border-left: black solid 1px;
    border-top: black solid 1px;
    opacity: 1;
}

.se-handle {
    border-right: black solid 1px;
    border-bottom: black solid 1px;
    opacity: 1;
}

.sw-handle {
    border-left: black solid 1px;
    border-bottom: black solid 1px;
    opacity: 1;
}

.bottom-handle {
    border: black solid 1px;
    opacity: 0;
}
