@import './colors';
@import './transitions';

:global(.higlass) .top-right-handle,
:global(.higlass) .bottom-right-handle {
  border-right: black solid;
  border-top: black solid;
}

:global(.higlass) .top-left-handle,
:global(.higlass) .bottom-left-handle {
  border-left: black solid;
  border-top: black solid;
}

:global(.higlass) .top-draggable-handle,
:global(.higlass) .bottom-draggable-handle,
:global(.higlass) .left-draggable-handle,
:global(.higlass) .right-draggable-handle {
  position: absolute;
  opacity: 0;
  transition: transform $fast $ease,
              opacity $fast $ease;
}

:global(.higlass) .draggable-div:hover .top-draggable-handle,
:global(.higlass) .draggable-div:hover .bottom-draggable-handle,
:global(.higlass) .draggable-div:hover .left-draggable-handle,
:global(.higlass) .draggable-div:hover .right-draggable-handle {
  opacity: 0.2;
}

:global(.higlass) .top-draggable-handle:hover,
:global(.higlass) .top-draggable-handle:active,
:global(.higlass) .bottom-draggable-handle:hover,
:global(.higlass) .bottom-draggable-handle:active,
:global(.higlass) .left-draggable-handle:hover,
:global(.higlass) .left-draggable-handle:active,
:global(.higlass) .right-draggable-handle:hover,
:global(.higlass) .right-draggable-handle:active {
  opacity: 1 !important;
  transform: scale(2);
  box-shadow: 0 0 3px 1px $blue-lighter;
  background: $blue-lighter;
}


:global(.higlass) .top-draggable-handle,
:global(.higlass) .bottom-draggable-handle {
  height: 4px;
  cursor: row-resize;
}

:global(.higlass) .left-draggable-handle,
:global(.higlass) .right-draggable-handle {
  width: 4px;
  cursor: col-resize;
}
