.top-right-handle {
    border-right: black solid;
    border-top: black solid;
}

.top-left-handle {
    border-left: black solid;
    border-top: black solid;
}

.bottom-right-handle {
    border-right: black solid;
    border-bottom: black solid;
}

.bottom-left-handle {
    border-left: black solid;
    border-bottom: black solid;
}

.top-draggable-handle:hover {
    opacity: 0.8;
}

.bottom-draggable-handle:hover {
    opacity: 0.8;
}
