@import './colors';
@import './transitions';

.top-right-handle,
.bottom-right-handle {
  border-right: black solid;
  border-top: black solid;
}

.top-left-handle,
.bottom-left-handle {
  border-left: black solid;
  border-top: black solid;
}

.top-draggable-handle,
.bottom-draggable-handle,
.left-draggable-handle,
.right-draggable-handle {
  position: absolute;
  opacity: 0;
  transition: transform $fast $ease,
              opacity $fast $ease;
}

.draggable-div:hover .top-draggable-handle,
.draggable-div:hover .bottom-draggable-handle,
.draggable-div:hover .left-draggable-handle,
.draggable-div:hover .right-draggable-handle {
  opacity: 0.2;
}

.top-draggable-handle:hover, .top-draggable-handle:active,
.bottom-draggable-handle:hover, .bottom-draggable-handle:active,
.left-draggable-handle:hover, .left-draggable-handle:active,
.right-draggable-handle:hover, .right-draggable-handle:active {
  opacity: 1 !important;
  transform: scale(2);
  box-shadow: 0 0 3px 1px $blue-lighter;
  background: $blue-lighter;
}


.top-draggable-handle,
.bottom-draggable-handle {
  height: 4px;
  cursor: row-resize;
}

.left-draggable-handle,
.right-draggable-handle {
  width: 4px;
  cursor: col-resize;
}
