:global(.higlass) .gallery-tracks {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

:global(.higlass) .gallery-track {
  position: absolute;
  box-sizing: border-box;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

:global(.higlass) .gallery-sub-track,
:global(.higlass) .gallery-invisible-track {
  position: absolute;
}

:global(.higlass) .gallery-sub-track {}
