@import './colors';
@import './transitions';

$unit: 24px;

:global(.higlass) .genome-position-search,
:global(.higlass) .genome-position-search-focus {
  position: relative;
  display: flex;
  align-items: stretch;
  height: 100%;
  margin-bottom: 0px;
  font-size: $unit / 1.75;
  transition: box-shadow $fast $ease,
              font-size $fast $ease;
}

:global(.higlass) .genome-position-search-focus {
  box-shadow: 0 0 0 1px $active,
              0 0 3px 1px $active;
}

:global(.higlass) .genome-position-search-bar {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: $unit / 8;
  color: #666;
  font-size: inherit;
  line-height: $unit;
  border: 0;
  border-radius: $unit / 8 0 0 $unit / 8;
  background: transparent;

  &:focus {
    outline: none;
    color: $black;
  }
}
:global(.higlass) .genome-position-search-dark .genome-position-search-bar {
  &:focus { color: $gray-lighter; }
}

:global(.higlass) .genome-position-search-bar-button,
:global(.higlass) .genome-position-search-bar-button-focus {
  display: block;
  height: 100%;
  padding: 0 $unit / 3;
  color: $gray;
  border: 0;
  border-radius: 0;
  background: transparent;
  transition: background $fast $ease,
              color $fast $ease;

  &:active,
  &:focus,
  &:hover,
  &:not([aria-disabled="true"])[aria-expanded="true"] {
    color: $white;
    background: $active;
  }

  svg {
    width: 1rem;
    height: 1rem;
  }
}

:global(.higlass) .genome-position-search-bar-button-focus {
  color: $white;
  background: $active;
}

:global(.higlass) .genome-position-search-menu {
  z-index: 10;
  display: flex;
  flex-direction: column;
  width: 10rem;
  padding: 3px;
  border: 1px solid $gray-lighter-rgba;
  border-radius: 3px;
  font-size: 12px;
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0 0 3px 0 $gray-lighter-rgba,
              0 1px 5px 0 $gray-lightest-rgba;
}

:global(.higlass) .genome-position-search-menu-item {
  padding: 2px;
  color: $black;
  line-height: 1.5em;
  text-align: left;
  white-space: nowrap;
  border: 0;
  border-radius: 2px;
  transition: background $fast $ease,
              color $fast $ease;

  &:hover {
    color: $white;
    background: $active;
    cursor: pointer;
    outline: none;
  }
}

:global(.higlass) .genome-position-search-bar-icon,
:global(.higlass) .genome-position-search-bar-icon-focus {
  display: flex;
  align-items: center;
  transition: color $fast $ease;

  &:first-child {
    margin-left: $unit / 4;
    margin-right: 2px;
  }

  span {
    display: block;
    margin-top: -2px;
  }
}

:global(.higlass) .genome-position-search-bar-icon-focus {
  color: $active;
}

:global(.higlass) .genome-position-search-bar-suggestions {
  position: fixed;
  border-radius: 3px;
  box-shadow: 0 0 3px 0 $gray-lighter-rgba,
              0 1px 5px 0 $gray-lightest-rgba;
  background-color: rgba(255, 255, 255, 0.95);
  border: 1px solid $gray-lighter-rgba;
  padding: 2px 0;
  font-size: 90%;
  overflow: auto;
  max-height: 50%;
}
