svg {
  font: 10px sans-serif;
}

.axis {
  shape-rendering: crispEdges;
}

.axis path, .axis line {
  fill: none;
  stroke-width: 0px;
}

.x.axis line {
  stroke: #ddd;
  stroke-width: 2px;
  stroke-opacity: 0.4;
}

.y.axis line {
  stroke: #ddd;
  stroke-width: 2px;
  stroke-opacity: 0.4;
}

.data-point {
    stroke: black;
    stroke-width: 0px;
    fill: #888888;
}

.pane {
    fill: transparent;
    stroke: transparent;
}
.resort-name {
    font: 11px sans-serif;
}

.hovered {
    stroke-width: 1px;
}

/*div.tooltip {
    position: absolute;
    text-align: left;
    width: 170px;
    height: 75px;
    padding: 8px;
    font: 12px "Comic Sans MS";
    background: rgb(164,164,164) ;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    line-height:130%
}*/