.multitrack-header {
  position: relative;
  max-height: 20px;
  min-height: 20px;
  margin-bottom: 3px;
  color: #666;
  font-size: 12px;
  line-height: 20px;
  vertical-align: middle;
  border: 0;
  border-radius: 3px;
  background: #e5e5e5;
  transition: color 0.15s ease, background 0.15s ease;
}

.multitrack-header:active,
.multitrack-header:focus,
.multitrack-header:hover {
  color: #000;
  background: #bbb;
}

.multitrack-header-id {
  padding-left: 3px;
}

.multitrack-header-id::before {
  content: 'ID:';
  font-weight: bold;
  padding-right: 5px;
}

.multitrack-header-icon {
  top: 4px;
}

.multitrack-header-icon:hover {
  color: #000;
}

.multitrack-header-icon:active,
.multitrack-header-icon:focus {
  color: #4677f8;
}
