.higlass {
  position: relative;
}

.higlass-canvas {
  position: absolute;
  width: 100%;
  height: 100%;
}

.higlass-drawing-surface {
  position: absolute;
  opacity: 0;
}

.higlass-svg {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  pointer-events: none;
}

.tiled-area {
  display: flex;
  flex-direction: column;
}

.track-mouseover-menu {
    position: absolute;
    pointer-events: none;
    background: rgba(255,255,255,0.7);
    margin: 10px;
    padding: 4px;
    border-radius: 5px;
    border: 1px solid black;
}
