svg {
  font: 10px sans-serif;
}

.axis {
  shape-rendering: crispEdges;
}

.axis path, .axis line {
  fill: none;
  stroke-width: 0px;
}

.x.axis line {
  stroke: #ddd;
  stroke-width: 2px;
  stroke-opacity: 0.4;
}

.y.axis line {
  stroke: #ddd;
  stroke-width: 2px;
  stroke-opacity: 0.4;
}

.data-point {
    stroke: black;
    stroke-width: 0px;
    fill: #888888;
}

.pane {
    fill: transparent;
    stroke: transparent;
}
.resort-name {
    font: 11px sans-serif;
}

.hovered {
    stroke-width: 1px;
}

/*.debug {
  width: 
}*/