.higlass {
  position: relative;
}

.higlass-dark-theme {
  background: black;
}

.higlass-container-overflow,
.higlass-scroll-container-overflow,
.higlass-scroll-container-scroll {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.higlass-scroll-container-overflow {
  overflow: hidden;
}

.higlass-scroll-container-scroll {
  overflow-x: hidden;
  overflow-y: auto;
}

.higlass-canvas {
  position: absolute;
  width: 100%;
  height: 100%;
}

.higlass-drawing-surface {
  position: relative;
}

.higlass-svg {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  pointer-events: none;
}

.tiled-area {
  display: flex;
  flex-direction: column;
}

.track-mouseover-menu {
  position: fixed;
  z-index: 1;
  margin: 17px 0 0 9px;
  padding: 0 0.25rem;
  max-width: 50vw;
  word-wrap: break-word;
  font-size: 0.8em;
  pointer-events: none;
  background: white;
  border-radius: 0.25rem;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 0 3px 0 rgba(0, 0, 0, 0.075),
    0 0 7px 0 rgba(0, 0, 0, 0.05);
}
