@import './colors';
@import './transitions';

.input {
  box-sizing: border-box;
  padding: 0.5em 0.25em;
  color: $black;
  font-size: 1em;
  line-height: 1em;
  border: 0;
  border-radius: .25rem;
  background: $white;
  box-shadow: 0 0 0 1px $gray-light;
  transition: transform $fast $ease,
              box-shadow $fast $ease,
              background $fast $ease;
}

.input:hover {
  box-shadow: 0 0 0 1px $gray-light;
}

.input:focus {
  box-shadow: 0 0 0 2px $blue-lighter;
}

.input:focus {
  outline: none;
}
