@import './colors';
@import './transitions';

.insets-track {
  position: absolute;
  z-index: 10;
}

.inset {
  position: absolute;
  background: white;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5),
              0 2px 6px 0 rgba(0, 0, 0, 0.33),
              0 2px 9px 0 rgba(0, 0, 0, 0.2);
  transition: transform $fast $ease,
              width $fast $ease,
              height $fast $ease,
              background $fast $ease,
              box-shadow $fast $ease;
}

.inset-focus {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.6),
              0 2px 6px 0 rgba(0, 0, 0, 0.5),
              0 3px 22px 0 rgba(0, 0, 0, 1);
}

.inset-leader-line {
  position: absolute;
  transition: transform $fast $ease;
  transform-origin: center left;
}

.inset-leader-line-stub,
.inset-leader-line-stub-left,
.inset-leader-line-stub-right {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.inset-leader-line-stub-left,
.inset-leader-line-stub-right {
  transition: width $fast $ease,
              height $fast $ease;
}

.inset-leader-line-stub-left {
  left: 0;
}

.inset-leader-line-stub-right {
  right: 0;
}

.inset-images-wrapper {
  position: absolute;
  display: flex;
  top: 2px;
  right: 2px;
  bottom: 2px;
  left: 2px;
  overflow: hidden;
  align-items: stretch;
}

.inset-images-wrapper-left {
  position: relative;
  display: flex;
  flex-grow: 1;

  > * {
    position: relative;
  }
}

.inset-images-wrapper-left-three {
  flex-grow: 2;
}

.inset-images-wrapper-left-four {
  flex-grow: 3;
}

.inset-images-wrapper-right {
  position: relative;
  display: flex;
  flex-direction: column;
}

.inset-images-wrapper-right-grow {
  flex-grow: 1;
}

.inset-image-wrapper {
  position: relative;
  flex-grow: 1;
}

.inset-image-ratio {
  display: block;
  width: 100%;
  padding-top: 100%;
}

.inset-image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 2px;
  background-color: black;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.inset-image-left-half-middle,
.inset-image-left-full-middle {
  right: 1px;
}

.inset-image-right-half-first,
.inset-image-right-half-middle,
.inset-image-right-half-last,
.inset-image-right-full-first,
.inset-image-right-full-middle,
.inset-image-right-full-last {
  left: 1px;
  right: 0;
}

.inset-image-right-full-middle {
  top: 1px;
  bottom: 1px;
}

.inset-image-right-full-first  {
  top: 0;
  bottom: 1px;
}

.inset-image-right-full-last  {
  top: 1px;
  bottom: 0;
}

.inset-previews-wrapper-top,
.inset-previews-wrapper-bottom {
  position: absolute;
  right: 2px;
  left: 2px;
  display: flex;
  flex-direction: column;
}

.inset-previews-wrapper-top {
  top: 2px;
}

.inset-previews-wrapper-bottom {
  bottom: 2px;
}

.inset-preview-wrapper {
  position: relative;
  margin-top: 1px;
  flex-grow: 1;
}

.inset-preview {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
