.multiview-close-img {
    right: 5px;
    top: 2px;
    position: absolute;
    width: 10px;
}

.multiview-add-track-img {
    right: 19px;
    top: 2px;
    position: absolute;
    width: 10px;
}

.multiview-config-img {
    right: 33px;
    top: 2px;
    position: absolute;
    width: 10px;
}

.multiview-copy-img {
    right: 47px;
    top: 2px;
    position: absolute;
    width: 10px;
}

.multiview-add-img {
    right: 5px;
    top: 2px;
    position: absolute;
    width: 20px;
}
