@import './colors';
@import './transitions';

$unit: 24px;

.multitrack-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: $unit;
  margin-top: $unit / 4;
  margin-bottom: $unit / 4;
  color: $gray;
  font-size: $unit / 2;
  line-height: $unit;
  vertical-align: middle;
  border: 0;
  border-radius: $unit / 8;
  background: $gray-lighter;
  transition: height $fast $ease,
              margin $fast $ease;
}

.multitrack-header-active {
  height: $unit + ($unit / 2);
  margin-top: 0;
  margin-bottom: 0;
}

.multitrack-header-id {
  padding-left: 3px;

  &:before {
    content: 'ID:';
    font-weight: bold;
    padding-right: 5px;
  }
}

.multitrack-header-left {
  display: flex;
  flex-grow: 1;
}

.multitrack-header-grabber {
  display: flex;
  align-items: center;
  justify-content: center;
  width: $unit;
  height: 100%;
  cursor: move;
  border-radius: $unit / 8 0 0 $unit / 8;
  transition: background $fast $ease;

  &:hover {
    background: $gray;

    div {
      background: $white;
    }
  }

  div {
    width: 1px;
    height: 50%;
    margin: 1px;
    background: $gray;
    transition: background $fast $ease;
  }
}

.multitrack-header-search {
  flex-grow: 1;
}

.multitrack-header-nav-list {
  display: flex;
}

.multitrack-header-icon {
  width: $unit;
  height: $unit;
  padding: $unit / 4;
  transition: background $fast $ease,
              color $fast $ease;

  &:hover,
  &:active,
  &:focus {
    color: $white;
    background: $active;
  }

  &:last-child {
    border-radius: 0 $unit / 8 $unit / 8 0;
  }
}
