.plot-type-selected {
    background-color: rgba(0,0,255,0.3);
}

.plot-type-container {
    overflow-y: scroll;
    margin: 5px;
    padding: 3px;
    border: 1px solid #aaaaaa;
    border-radius: 5px;
    max-height: 15vh;
}