.plot-type-selected {
  background-color: rgba(0, 0, 255, 0.3);
}

.plot-type-container {
  overflow-y: scroll;
  margin: 5px;
  padding: 3px;
  border: 1px solid #aaaaaa;
  border-radius: 5px;
  max-height: 15vh;
}

.plot-type-container-empty {
  margin: 5px;
  padding: 3px 8px;
  border: 1px solid #aaaaaa;
  background-color: #e8e8e8;
  border-radius: 5px;
}

.plot-type-item {
  cursor: pointer;
}
.plot-type-item:not(.plot-type-selected):hover {
  background-color: rgba(51, 51, 204, 0.1);
}

.track-thumbnail {
  width: 30px;
  height: 20px;
  display: inline-block;
  margin-right: 10;
  vertical-align: middle;
}
.track-thumbnail > svg {
  width: 20px;
  height: 20px;
}
