.context-menu {
    background-color: rgba(250,250,250,0.8);
    border-radius: 4px;
    font: 12px sans-serif;
    cursor: default;
    padding: 3px;
}

.context-menu-item {
    padding: 2px
}

.context-menu-item:hover {
    background-color: #4677f8;
    color: #fefefe;
}

hr {
    margin-top: 5px;
    margin-bottom: 5px;
    border-top: 1px solid #ccc;
}

img.play-icon {
    width: 14px;
    height: 14px;
    position: absolute;
    right: 5px;
}

.context-menu-span {
    margin-right: 20px;
}
