/*
 @import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
 */


table.table-track-options {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

td.td-track-options {
    border: 1px solid #fff;
    outline: none;
    padding: 3px;
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #666;
}

.cell-label {
    position: absolute;
    left: 0px;
    top: 0px;
    margin-left: 5px;
    color: #777; 
}

.modal-dialog{
    position: relative;
    display: table; //This is important 
    overflow-y: auto;    
    overflow-x: auto;
    width: auto;
    min-width: 300px;   
    margin: auto;
}
