@import './transitions';

.track-range-selection {
  position: absolute;
  z-index: -1;
  opacity: 0;
  transition: opacity $fast $ease;
}

.track-range-selection-active {
  composes: track-range-selection;

  z-index: 1;
  opacity: 1;
}

.track-range-selection-active-primary {
  composes: track-range-selection-active;
}

.track-range-selection-active-secondary {
  composes: track-range-selection-active;
}

.track-range-selection-group-inactive {
  display: none;
}

.track-range-selection-group-brush-selection {
  outline: 2px solid rgba(0, 0, 0, 0.33);
  fill: black;
  fill-opacity: 0.1;
}
