@import './transitions';

.track-renderer {
  position: absolute;

  .track-renderer-selection {
    position: absolute;
    z-index: 1;
    opacity: 0;
    transition: opacity $fast $ease;

    &.is-active {
      opacity: 1;
    }
  }
}
