@import './colors';
@import './transitions';

$unit: 20px;

.track-control,
.track-control-vertical {
  position: absolute;
  z-index: -1;
  display: flex;
  background: rgba(255, 255, 255, 0.75);
  right: $unit / 10;
  top: $unit / 10;
  border-radius: $unit / 8;
  box-shadow: 0 0 0 1px $gray-lightest-rgba,
              0 0 3px 0 $gray-lighter-rgba;
  opacity: 0;
  transition: opacity $fast $ease,
              background $fast $ease,
              box-shadow $fast $ease;
}

.track-control-vertical {
  flex-direction: column-reverse;
}

.track-control-left {
  left: $unit / 10;
  right: auto;
}

.track-control-active,
.track-control-vertical-active {
  opacity: 1;
  z-index: 1;

  &:hover {
    background: rgba(255, 255, 255, 1);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1),
                0 0 3px 0 rgba(0, 0, 0, 0.2);
  }
}

.track-control-active {
  composes: track-control;
}

.track-control-button {
  width: $unit;
  height: $unit;
  padding: $unit / 5;
  cursor: pointer;
  opacity: 0.66;
  transition: background $fast $ease,
              color $fast $ease,
              opacity $fast $ease;

  &:hover {
    color: $white;
    background: $active;
    opacity: 1;
  }

  &:first-child {
    border-radius: $unit / 8 0 0 $unit / 8;
  }

  &:last-child {
    border-radius: 0 $unit / 8 $unit / 8 0;
  }
}

.track-control-button-vertical {
  &:first-child {
    border-radius: 0 0 $unit / 8 $unit / 8;
  }

  &:last-child {
    border-radius: $unit / 8 $unit / 8 0 0;
  }
}
