table.table-track-options {
    border-collapse: collapse;
    /*
    margin-left: auto;
    margin-right: auto;
    */
}

td.td-track-options {
    border: 1px solid #ddd;
    outline: none;
    padding: 10px;
}
