@import './colors';
@import './sizes';
@import './transitions';

:global(.higlass) .view-config-editor-header {
  margin: (-1*$base)+px (-1*$base)+px 0 (-1*$base)+px;
  padding: $base+px;
  display: flex;
  justify-content: space-between;
  background: $gray-lightest;

  button {
    display: flex;
    align-items: center;
    font-size: (1.4*$base)+px;
    background: $gray-lightest;

    &:hover {
      background: $gray-lighter;
      span {
        color: $gray-dark;
      }
    }
  }
}

:global(.higlass) .view-config-editor {
  position: absolute;
  top: (5*$base)+px;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 1px 0 0 0;
  padding: 0;
  overflow: auto;
  font-size: (1.25*$base)+px;
}
