{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false
      }
    ],
    "airbnb",
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-transform-runtime"
  ]
}
