build/
npm-debug.log
**/*.un~
*.swo
**/*.swp
**/*#
temp/**
data/**
data
output/**
notebooks/.ipynb_checkpoints/**
notebooks/**/*.log
.tmp
*.pyc
bower_components/
node_modules/
jsons/
.DS_Store
*.zip
.idea/
