app/local
app/test2.html
yarn.lock
build/
npm-debug.log
**/*.un~
*.swo
*.swn
**/*.swp
**/*#
temp/**
data/**
data
output/**
notebooks/.ipynb_checkpoints/**
notebooks/**/*.log
.tmp
*.pyc
bower_components/
node_modules/
jsons/
.DS_Store
*.zip
.idea/
dist
report.html
docs/_build
.package-lock.json
