
{
  "app/**/*.js": [
    "prettier --single-quote --print-width 100 --write",
    "eslint -c .eslintrc",
    "git add"
  ],
  "test/**/*.js": [
    "prettier --single-quote --print-width 100 --write",
    "eslint -c .eslintrc",
    "git add"
  ]
}
