
{
  "app/**/*.js": [
    "pretty-quick --staged",
    "eslint -c .eslintrc --fix",
    "git add"
  ],
  "test/**/*.js": [
    "pretty-quick --staged",
    "eslint -c .eslintrc --fix",
    "git add"
  ]
}
